<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
	<div class="container">

		<h2>Forgot Password</h2>
		<p th:if="${error}" th:text="${error}" class="error" ></p>
		<form th:action="@{/forgot-password}" method="post">

			<div class="form-group">
				<label>Email</label> <input type="email" name="email"
					placeholder="Enter your email" required>
			</div>

			<button type="submit" class="btn btn-reset">Reset Password</button>

		</form>

		<div class="links">
			<a th:href="@{/}"> Back to Login </a>
		</div>

	</div>
</body>
</html>